AddDefaultCharset UTF-8
RewriteEngine On
RewriteCond %{SERVER_PORT} !^443$
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteRule ^(?:index\.php/)?(?:[^/]+/)+(\d+-[^/]+)$ /$1 [R=301,L,NC]